* {
    box-sizing: border-box;
}
#game {
    width: 100%;
    height: 50vh;
}

.board {
    /*border: 1px solid #e2e2e2;*/
    background: #e38d13;
    position: relative;
    z-index: 100;
    overflow: hidden;
}
.snake-body {
    background: #006600;
    position: absolute;
    z-index: 200;
}

.food {
    background: #cac011;
}
.body {
    background: #006600;
}